/* html {
  font-size: 15px
}

html {
  font-size: 4.7vw;
}

@media only screen and (min-width:320PX) and (max-width:359PX) {

  html {

      font-size: 15px
  }

}

@media only screen and (min-width:360PX) and (max-width:374PX) {

  html {

      font-size: 16.875px
  }

}

@media only screen and (min-width:375PX) and (max-width:389PX) {

  html {

      font-size: 17.5781px
  }

}

@media only screen and (min-width:390PX) and (max-width:400PX) {

  html {

      font-size: 18.75px
  }

}

@media only screen and (min-width:401PX) and (max-width:414PX) {

  html {

      font-size: 19.4063px
  }

}

@media only screen and (min-width:415PX) and (max-width:640PX) {

  html {

      font-size: 22.5px
  }

}

@media screen and (min-width:641PX) {

  html {

      font-size: 30px
  }

} */